.search-card {
  background-color: var(--ion-item-background);
  border-radius: 10px;
  //overflow: clip;

  .top-info {
    span, ion-icon {
      font-size: 12px;
      opacity: 0.7;
    }
  }
}

.tag {
  font-size: 13px;
  padding: 6px 10px;
  border-radius: 20px;
  background-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.12);
  white-space: nowrap;
  margin-left: 8px;
}

.tag:first-child {
  margin-left: 0;
}

.title-container {
  flex: 1;
  min-width: 0;

  max-height: 3rem; /* Limits displayed text to 2 lines tall. Assumes text is 1.5 tall */
  overflow-y: auto; /* scroll down if taller than max-height */
}

.title-text {
  white-space: normal;
  word-break: break-word;
  line-height: 1.5;
}

.bookmark-over {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 26px;

  -webkit-transform:scale(1,1.5); /* Safari and Chrome */
  -moz-transform:scale(1,1.5); /* Firefox */
  -ms-transform:scale(1,1.5); /* IE 9 */
  -o-transform:scale(1,1.5); /* Opera */
  transform:scale(1,1.5);
}
