ion-fab {
  margin-bottom: var(--ion-safe-area-bottom, 0);
}

.complete {
  opacity: 0.55;
}

.sub-text {
  opacity: 0.55;
}

.header-md, .header-ios {
  box-shadow: none;
  -webkit-box-shadow: none;
}
